* {
    background-color: #051932;
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}

.card-game {
    display: inline-block;
    text-align: center;
    height: 523px;
    padding-top: 12px;
    width: 320px;
    background-color: #7C5E99;
    margin-left: 40%;
    margin-top: 10%;
}

